header[role=banner] .btn {
  margin-top: 30px;
}
.accordion-group {
  border: none;
}
.accordion h3 {
  margin: 0;
}
.accordion-heading .accordion-toggle,
.accordion-inner {
  padding-left: 0;
  padding-right: 0;
}
.accordion h3 a {
  color: #FF7300;
}
.accordion h3 a:hover {
  text-decoration: none;
}
