body {
  padding-bottom: 2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header[role=banner] {
  text-align: center;
}
header[role=banner] h1 {
  text-transform: uppercase;
}
.navbar-brand {
  max-width: 500px;
}
.repo {
  margin-bottom: 2em;
  border-top: 2px solid #ccc;
}
.repo:first-child {
  border-top: none;
}
.repo h3 {
  color: #FF7300;
}
.pull {
  border-bottom: 1px solid #ccc;
}
.pull:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  header[role=banner] {
    text-align: left;
  }
  header[role=banner] .btn {
    position: absolute;
    top: 30px;
    right: 0;
  }
}
