body {
  background: #efefef;
}
.container {
  box-sizing: border-box;
  width: 80%;
  padding: 0 2%;
  margin: 0 auto;
}
.page-heading {
  overflow: hidden;
}
.page-heading h1 {
  float: left;
}
#refresh {
  float: right;
  margin-top: 2.34em;
}
.repo {
  padding: 16px;
  margin-bottom: 32px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3), 0 5px 10px rgba(0, 0, 0, .3);
}
.pull {
  border-bottom: 1px solid #ccc;
}
.meta {
  color: #333;
  font-size: 14px;
}
